{% extends 'base.html' %}

{% block content %}

<section>
    <div class="left-container-teams">
        <h2>TEAMS</h2>
    </div>
    <div class="right-container-teams">
        <h2>Directory</h2>
        <table>
            <tr>
                <th>Team</th>
                <th>League</th>
            </tr>
            {% for team in teams %}
            <tr>
                <td><a href="/teams/{{ team.id }}">{{ team.name }}</a></td>
                <td><a href="/leagues/{{ team.league.id }}">{{ team.league.name }}</a></td>
            </tr>
            {% endfor %}
        </table><br>
        <a href="/teams/new">ADD TEAM</a>
    </div>
</section>

{% endblock %}