/* STYLES AFFECTING ALL PAGES */
body {
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

/* HEADER STYLES */
body > header {
	background-color: #000067;
	display: flex;
	height: 10vh;
	max-height: 200px;
	align-items: center;
	overflow: hidden;
}

.left-header {
	width: 50vw;
}

.left-header > a > div > h1 {
	font-family: "Fugaz One", sans-serif;
	font-style: italic;
	font-size: 5rem;
	color: white;
	padding-left: 0.1em;
	text-decoration: underline;
	text-decoration-color: #ffff00;
}

.right-header {
	width: 50vw;
	display: flex;
	justify-content: flex-end;
	padding-right: 4rem;
}

.right-header > div > a {
	font-family: "Red Hat Text", sans-serif;
	font-style: italic;
	font-weight: bold;
	padding: 0 1rem 0 2rem;
	text-decoration: none;
	color: white;
}

.right-header > div > a:hover {
	text-decoration: line-through;
	text-decoration-color: #ffff00;
}

/* FOOTER STYLES */
body > footer {
	display: flex;
	position: absolute;
	width: 100vw;
	bottom: 0;
	margin: 0;
	height: 6vh;
	max-height: 75px;
	align-items: center;
	justify-content: flex-end;
	background-color: #000067;
	font-family: "Red Hat Text", sans-serif;
	font-style: italic;
	font-size: 1rem;
	color: white;
}
body > footer > h4 {
	padding-right: 2em;
}

body > footer > h4 > span {
	font-family: "Fugaz One", sans-serif;
	text-decoration: underline;
	text-decoration-color: #ffff00;
}

/* HOME STYLES */
.left-right-container {
	display: flex;
	background-color: #00009a;
	height: 84vh;
	margin: 0;
}
.left-container-items {
	display: flex;
	width: 50vw;
	background: url("img/free-to-use-sounds-dPpRXFq5uxo-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.left-container-items > p {
	font-family: "Red Hat Text", sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 500%;
	color: white;
	margin-bottom: 100px;
}

.right-container-items {
	display: flex;
	flex-direction: column;
	width: 50vw;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.right-container-items > div {
	display: flex;
	background-color: #000067;
	margin: auto;
	align-items: center;
	justify-content: center;
	border-radius: 3%;
	border: 2px #ffff00 solid;
}

.right-container-items > div > a {
	color: white;
	height: 1em;
	width: 5em;
	padding: 1em 1.2em;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	font-size: 250%;
}

.right-container-items > div > a:hover {
	text-decoration: underline;
	text-decoration-color: #ffff00;
}

/* LEAGUES/INDEX STYLES */

.left-right-container-leagues {
	display: flex;
	background-color: #00009a;
	height: 84vh;
	margin: 0;
}

.text-overlay {
	display: flex;
	height: 20%;
	width: 100%;
	background-color: #ffff00;
	opacity: 50%;
	align-items: center;
	justify-content: center;
}

.text-overlay > h2 {
	color: #000067;
	font-style: italic;
	font-weight: bold;
	font-size: 400%;
}

.left-container-items-leagues {
	display: flex;
	width: 50vw;
	background: url("img/free-to-use-sounds-_TWWlCYfBj8-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.right-container-items-leagues {
	display: flex;
	flex-direction: column;
	width: 50vw;
	align-items: center;
	/* justify-content: space-between; */
	color: white;
	overflow-y: scroll;
}

.table-div {
	display: flex;
	text-align: center;
}
.leagues-table {
	border-spacing: 0;
	table-layout: fixed;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.leagues-table th {
	border-bottom: 2px solid white;
	vertical-align: middle;
	font-weight: normal;
	height: 60px;
	font-size: 1.2em;
}

.leagues-table td {
	height: 45px;
}

.leagues-table td > a {
	text-decoration: none;
	color: white;
	vertical-align: middle;
}

.leagues-table td > a:hover {
	text-decoration: underline;
	text-decoration-color: #ffff00;
	font-weight: bold;
}

.add-button {
	display: flex;
	background-color: #000067;
	align-items: center;
	justify-content: center;
	border-radius: 3%;
	border: 2px #ffff00 solid;
	margin-top: 5%;
	margin-bottom: 0;
	height: 6%;
	width: 40%;
}

.add-button > a {
	color: white;
	padding: 1em 1.2em;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
}

.add-button a:hover {
	text-decoration: underline;
	text-decoration-color: #ffff00;
}

/* LEAGUES/SHOW STYLES */

.left-right-container-leagues-show {
	display: flex;
	background-color: #00009a;
	height: 84vh;
	margin: 0;
	width: 100vw;
	color: white;
	/* overflow-y: scroll; */
}
.left-container-items-leagues-show {
	display: flex;
	/* flex-direction: column; */
	width: 50vw;
	text-align: center;
	align-items: flex-start;
	justify-content: center;
	background-color: #000067;
}

.left-container-items-leagues-show h1 {
	font-family: "Red Hat Text", sans-serif;
	font-style: italic;
	margin-top: 10%;
	padding-left: 2px;
	text-align: left;
	color: #000067;
}

.league-table-show {
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.team-name-cell {
	text-align: left;
	width: 200px;
}
.league-table-show th {
	border-bottom: 2px solid white;
	vertical-align: middle;
	height: 60px;
	font-size: 1.2em;
}
.league-table-show td {
	height: 40px;
}

.league-table-show td a {
	color: white;
	text-decoration: none;
}
.league-table-show td a:hover {
	text-decoration: underline;
	text-decoration-color: #ffff00;
	font-weight: bold;
}

.league-table-show .tablecell {
	width: 40px;
}

.text-overlay-league {
	width: 100%;
	background-color: #ffff00;
	opacity: 80%;
	align-items: center;
	justify-content: center;
}

.right-container-items-leagues-show {
	display: flex;
	flex-direction: column;
	width: 50vw;
	align-items: center;
	/* justify-content: space-; */
	color: white;
	overflow-y: scroll;
}

.edit-league {
	text-align: center;
	margin: 7% 0 0 0;
}
.edit-league > div {
	margin-bottom: 2%;
}

.edit-league-a-tag {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.edit-league-a-tag .add-button-league {
	display: flex;
	background-color: #000067;
	align-items: center;
	justify-content: center;
	border: 2px #ffff00 solid;
	margin: 10px;
}
.edit-league-a-tag .add-button-league a {
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding: 10px;
}

.league-results {
	text-align: center;
	width: 100%;
	margin-bottom: 5%;
}
.league-results > div {
	margin-bottom: 2%;
}

.league-table-show-results {
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	width: 40vw;
	border-spacing: 0;
	margin-top: 1%;
	text-align: center;
}

.league-table-show-results th {
	height: 40px;
	background-color: #000067;
}

.league-table-show-results th a {
	color: white;
	text-decoration: none;
}

.league-table-show-results td {
	background-color: #000067;
	height: 25px;
}

.all-results {
	margin-top: 2%;
}

#results-image {
	background: url("/static/css/img/hence-the-boom-_GPDUfIlooM-unsplash.jpg");
	background-size: cover;
}

/* TEAMS/INDEX STYLES */
.left-container-teams {
	display: flex;
	width: 50vw;
	background: url("/static/css/img/ameer-basheer-Yzef5dRpwWg-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.right-container-teams {
	display: flex;
	flex-direction: column;
	width: 50vw;
	align-items: center;
	/* justify-content: space-between;           s */
	color: white;
	overflow-y: scroll;
}

.teams-h2 {
	color: white;
	margin-top: 4%;
	padding: 0;
}

.right-container-teams > div > h2 {
	color: white;
	margin: 0;
}

.teams-table {
	border-spacing: 0;
	table-layout: fixed;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.teams-table th {
	border-bottom: 2px solid white;
	vertical-align: middle;
	font-weight: normal;
	height: 60px;
	font-size: 1.2em;
	color: white;
}

.teams-table td {
	height: 30px;
}

.teams-table td > a {
	text-decoration: none;
	color: white;
	vertical-align: middle;
}

.teams-table td > a:hover {
	text-decoration: underline;
	text-decoration-color: #ffff00;
	font-weight: bold;
}

/* LEAGUES/NEW */

.right-container-items-leagues-new {
	display: flex;
	flex-direction: column;
	width: 50vw;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#league-new-image {
	background: url("img/ashton-clark-02bN29Dz9Sg-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.leagues-new-h2 {
	margin: 5%;
	color: white;
}

.right-container-items-leagues-new form {
	color: white;
}

.right-container-items-leagues-new .form-div {
	text-align: center;
	width: 75%;
}

.right-container-items-leagues-new .form-div input {
	width: 130px;
	font-family: "Red Hat Text", sans-serif;
	font-size: 16px;
	color: #ffff00;
	background-color: #000067;
	border: none;
}

/* TEAMS/NEW */
.right-container-items-leagues-new .form-div select {
	width: 130px;
	font-family: "Red Hat Text", sans-serif;
	font-size: 16px;
	color: #ffff00;
	background-color: #000067;
	border: none;
}

/* TEAMS/SHOW */

.team-show-results {
	margin: 5% 0;
}

.right-container-items-teams-show {
	display: flex;
	flex-direction: column;
	width: 50vw;
	align-items: center;
	justify-content: space-;
	color: white;
	overflow-y: scroll;
}

.league-table-show-team {
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	width: 35vw;
	border-spacing: 0 3px;
	margin-top: 1%;
	text-align: center;
}

.league-table-show-team tr {
	background-color: #000067;
}

.league-table-show-team th {
	background-color: #000067;
	height: 40px;
	width: 14vw;
}

.league-table-show-team a {
	color: white;
	text-decoration: none;
}
.league-table-show-team td {
	background-color: #000067;
	height: 40px;
	width: 14vw;
}

.left-container-items-teams-show {
	display: flex;
	flex-flow: row wrap;
	width: 50vw;
	text-align: center;
	align-items: flex-start;
	justify-content: center;
	background-color: #000067;
}

.record-div {
	display: flex;
	flex-wrap: row wrap;
	width: 80%;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}
.record-div .row1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.teams-show-h1 {
	width: 100%;
}

.teams-show-h4 {
	width: 100%;
}

.record-div > div > div {
	height: 100px;
	width: 100px;
	border: #ffff00 2px solid;
}
