{% extends 'base.html' %}

{% block content %}

<section class="left-right-container-leagues">
    <div class="left-container-items-leagues">
        <div class="text-overlay">
            <h2>LEAGUES</h2>
        </div>
    </div>
    <div class="right-container-items-leagues">
        <div class="add-button">
            <a href="/league/new">ADD NEW LEAGUE</a>
        </div>
        <div class="teams-h2">
            <h2>League Directory</h2>
        </div>
        <div class="table-div">
            <table class="leagues-table">
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Teams</th>
                </tr>
                {% for league in leagues %}
                <tr>
                    <td><a href="/leagues/{{ league.id }}">{{ league.name }}</a></td>
                    <td>{{ league.league_size_limit }}</td>
                    <td>{{ league.no_of_teams}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</section>

{% endblock %}