{% extends 'base.html' %}

{% block content %}

<section>
    <div class="left-container-teams"></div>
    <div class="right-container-teams">

        <div>
            <h2>Teams in {{ league.name }}</h2>
            <section class="league_table">
                <table>
                    <tr>
                        <th>Team</th>
                        <th>Games</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Draws</th>
                    </tr>
                    {% for team in teams %}
                    {% if league.id == team.league.id %}
                    <tr>
                        <td><a href="/teams/{{ team.id }}">{{ team.name }}</a></td>
                        <td>{{ team.games_played }}</td>
                        <td>{{ team.games_won }}</td>
                        <td>{{ team.games_lost }}</td>
                        <td>{{ team.games_drawn }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </section><br>
            <section class="league_results">
                <h4>League Results</h4>
                {% for result in results %}
                {% if league.id == result.team_1.league.id %}

                <table>
                    <tr>
                        <th><a href="/results/{{ result.id }}">{{ result.team_1.name }}</a> v</th>
                        <th><a href="/results/{{ result.id }}">{{ result.team_2.name }}</a></th>
                    </tr>
                    <tr>
                        <td>{{ result.team_1_score }}</td>
                        <td>{{ result.team_2_score }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </section>
            <h4>Edit League</h4>
            <a href="/teams/new">Add New Team</a><br>
            <a href="/result/new">Add New Result</a><br>
            <a href="/leagues/{{ league.id }}/edit">Update {{league.name}} Info</a>
        </div>
    </div>
</section>

{% endblock %}